/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/

/* Border-box-sizing */

.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 *
 *  Global
 */
.block-group {
    //*zoom: 1;
    overflow: hidden;
}
.block-group:before, .block-group:after {
    display: table;
    content: "";
    line-height: 0;
}
.block-group:after {
    clear: both;
}

.block-group {
    // ul/li compatibility
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Nested grid */

.block-group > .block-group {
    clear: none;
    float: left;
    margin: 0 !important;
}

.block {
    float: left;
    width: 100%;
    padding: 0 20px;
}

/*
 *
 *  Desktop
 */
@media (min-width: 745px) {
    .block-group{
        width: 740px;
        margin: 0 auto;
    }

    .b-30 {
        width: 30%;
        margin: 0 1.5%;
    }
    .b-40 {
        width: 40%;
    }
    .b-50 {
        width: 50%;
    }
    .b-60 {
        width: 60%;
    }
}

@media (min-width: 990px) {
  .block-group{
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .block-group{
    width: 95%;
  }
}

/*
 *
 * Masonry mobile
 */
.masonry{
    width: 100%;
    margin: 1.5em 0;
    padding: 0;

    -ms-column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;

    -ms-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}

.box{
    display: inline-block;
    position: relative;
    padding: 0 1.5em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.masonry a>img{
    width: auto;
}
.masonry>.box>a{
    position: relative;
    margin-left: -1.5em;
    margin-right: -1.5em;
    display: block;
}

/*
 *
 * Masonry Tablet/Laptop
 */

 @media (min-width: 745px) {
    .masonry{
        -ms-column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
 @media (min-width: 990px) {
    .masonry{
        -ms-column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 1200px) {
    .masonry{
        -ms-column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
