/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/

/* Border-box-sizing */

.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Box-sizing polyfill for IE6 and IE7 */
    *behavior: url(../js/boxsizing-pocketgrid.htc);
}

/*
 *
 *  Global
 */
.block-group {
    *zoom: 1;
    overflow: hidden;
}
.block-group:before, .block-group:after {
    display: table;
    content: "";
    line-height: 0;
}
.block-group:after {
    clear: both;
}

.block-group {
    // ul/li compatibility
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Nested grid */

.block-group > .block-group {
    clear: none;
    float: left;
    margin: 0 !important;
}

.block {
    float: left;
    width: 100%;
    padding: 0 20px;
}

/*
 *
 *  User styles
 */
.masonry {
    float: left;
}
.masonry:before, .masonry:after {
    display: table;
    content: "";
    line-height: 0;
}
.box {
    padding: 0 1.5em;
    margin-bottom: 1.5em;
}

@media (min-width: 745px) {
    .block-group{
        width: 740px;
        margin: 0 auto;
    }

    .b-30 {
        width: 30%;
        margin: 0 1.5%;
    }
    .b-40 {
        width: 40%;
    }
    .b-50 {
        width: 50%;
    }
    .b-60 {
        width: 60%;
    }
}

@media (min-width: 990px) and (max-width: 1199px) {
    .block-group{
        width: 950px;
    }
    .box {
        width: 48.4%;
        margin-left: 1.5em;
    }
    .box:nth-child(2n+1) {
      clear: left;
      margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .block-group{
        width: 95%;
    }
    .box {
        width: 31.9%;
        margin-left: 1.5em;
    }
    .box:nth-child(3n+1) {
      clear: left;
      margin-left: 0;
    }
}

.masonry a>img{
    width: auto;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}
.masonry>.box>a{
    position: relative;
    margin-left: -1.5em;
    margin-right: -1.5em;
    display: block;
}
