/*! responsive-nav.js 1.0.32 by @viljamis */

/*
 *  Mobile Style
 *
 */

 nav {
    background: rgba(255,255,255,.9);
    width: 100%;
    overflow: hidden;
    display: block;
    z-index: 2;

    &:after{
        margin-bottom: 56px;
    }
}

.nav-collapse{
    float: left;
    width: 100%;

    &.opened {
        max-height: 9999px;
    }

    ul {
        margin: 0;
        padding: 0;
        display: block;
        float: left;
        text-align: center;
        list-style: none;
        width: 100%;
    }

    li {
        display: block;
        float: left;
        width: 100%;
    }

    a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        background: rgba(255,255,255,.7);
        padding: 0.7em 1em;
        color: #000;
        width: 100%;
        float: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        &:hover, &:active{
            color: #007fff;
//            background: #fff;
        }
    }
    .active{
        a, a:hover{
            color: #007fff;
        }
    }

    ul ul a {
        background: #fff;
        padding-left: 2em;
    }
}

/*
 *
 * Required
 */
.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.disable-pointer-events {
    pointer-events: none !important;
}
.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.nav-collapse, .nav-collapse * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 *  Desktop Style
 *
 */

 @media screen and (min-width: 40em) {
    nav{
        position: fixed;
    }
    .js .nav-collapse {
        position: relative;
        max-height: none;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
    .nav-collapse {

        ul{
            height: 56px;
        }

        li {
            position: relative;
            display: inline-block;
            float: none;
            width: auto;
        }

        a {
            background: none;
            padding: 14px 15px 9px 15px;
        }

        ul ul a {
            display: none;
        }
    }
}
/*
 *
 *  Toggle Button
 */
@font-face {
    font-family: "responsivenav";
    src: url("../fonts/responsivenav.eot");
    src: url("../fonts/responsivenav.eot?#iefix") format("embedded-opentype"), url("../fonts/responsivenav.ttf") format("truetype"), url("../fonts/responsivenav.woff") format("woff"), url("../fonts/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
}
.nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55px;
    float: right;
    background: rgba(255,255,255,.7);

    &:before{
        color: #000;
        // Edit this to change the icon color

        font: normal 28px/55px"responsivenav";
        // Edit font-size (28px) to change the icon size

        text-transform: none;
        text-align: right;
        position: absolute;
        content: "\2261";
        // Hamburger icon

        text-indent: 0;
        speak: none;
        width: 100%;
        right: 20px;
        top: 0;
    }

    &.active:before{
        font-size: 24px;
        content: "\78";
        // Close icon
    }
}
